= field_set_tag 'Account' do
  = f.input :email, :as => :email, :hint => '<strong class="private">Private</strong>  &mdash; Not revealed to the public.'.html_safe
  - if @member.password_required?
    = f.input :password
    = f.input :password_confirmation
  = f.input :nickname, :hint => '<strong class="public">Public</strong> &mdash; Shown on your profile and elsewhere. Not included in anonymous survey results. Rather than revealing your name, provide an anonymous nickname.'.html_safe
  = f.input :pic, :label => 'Profile Pic', :hint => '<strong class="public">Public</strong> &mdash; Shown on your profile and elsewhere. Not included in anonymous survey results.'.html_safe do 
    = f.file_field :pic
  - if @member.pic and @member.pic.url
    .input
      %label 
      = image_tag @member.pic.thumb('100x100').url if @member.pic_uid
    = f.input :remove_pic, :as => :boolean
  .input.gravatar-option
    %label &nbsp;
    %small
      %strong NOTE: 
      Alternatively, upload your pic to <a href="http://www.gravatar.com" target="_blank">Gravatar.com</a>.
  = f.input :tag_list, :label => 'Tags', :input_html => {:class => 'tags', :"data-seperator" => ','}, :hint => 'Describe yourself with a few words. Hit Enter or type a comma to delimit each tag.'
  = f.input :timezone, :as => :time_zone, :priority => /US/, :include_blank => true
- if @member.new_record?
  = render :partial => '/members/accounts/subscriptions_form', :locals => {:f => f}
  = render :partial => '/members/accounts/privacy_form', :locals => {:f => f}
  = field_set_tag 'Agreements' do 
    = render :partial => '/members/accounts/informed_consent_copy'
    = f.input :informed_consent, :as => :boolean, :label => 'I have read and understand the <a href="#" onclick="$(\'#informed-consent\').dialog({modal:true, width:600, height:300}); return false">Informed Consent</a>.'.html_safe
    = render :partial => '/members/accounts/terms_of_use_copy'
    = f.input :terms_of_use, :as => :boolean, :label => 'I have read and agree to the <a href="#" onclick="$(\'#terms-of-use\').dialog({modal:true, width:600, height:300}); return false">Terms of Use</a>.'