= field_set_tag 'Subscriptions' do
  = f.input :subscription_notifications, :label => "Email me a daily summary of my notifications."
  = f.input :subscription_weekly_summaries, :label => "Email me a weekly report of my open surveys and petitions."
  = f.input :subscription_messages, :label => "Email me when I receive messages from other members."
  = f.input :subscription_news, :label => "Email me SoEpi's monthly newsletter."