= field_set_tag 'Subscriptions' do
  = f.input :subscription_surveys, :label => "Email me regarding my surveys and surveys that I'm following."
  = f.input :subscription_charts, :label => "Email me regarding my charts and charts that I'm following."
  = f.input :subscription_petitions, :label => "Email me regarding my petitions and petitions that I'm following."
  = f.input :subscription_groups, :label => "Email me regarding my groups."
  = f.input :subscription_messages, :label => "Email me when I receive a message."
  = f.input :subscription_news, :label => "Email me SoEpi's monthly newsletter."