= render :partial => "/members/accounts/common"

- content_for :body_content do
  - simple_form_for resource, :url => member_update_password_path, :html => { :method => :put }  do |f|
    = field_set_tag 'New Password' do
      = f.input :password do 
        = f.input_field :password, :class => 'password-strength'
        .inline-hint   
          Your password is forceable in
          %strong#time ...
      = f.input :password_confirmation
    .actions
      = f.submit 'Update', :class => 'button'
      
= render :partial => "/shared/content_page"
