= render :partial => "/members/accounts/common"

- content_for :body_content do
  - if @member.pin.blank? or not @member.errors.empty? 
    - simple_form_for @member, :url => member_update_pin_path do |f|
      %fieldset
        %legend Enter Your PIN
        %p
          = f.text_field :pin, :hint => 'Your PIN is four alphanumeric characters.', :value => ''
          = f.error :pin
          = f.submit 'Submit', :class => 'button'
      %fieldset
        %legend Forgot your PIN?
        %p
          = link_to 'Generate and send me a new PIN', member_generate_and_send_new_pin_path, :method => 'put', :class => 'button', :confirm => 'Are you sure?'
  - else
    %h2 
      Your PIN is: 
      %strong #{@member.pin}
    %p 
      Please don't forget your PIN. We do not store your PIN for you. 
      We highly suggest you store your PIN on your computer or write it down.
    
= render :partial => "/shared/content_page"
  