.r_script
  = avatar(r_script.member, 60) 
  .inner
    %h3
      = link_to r_script.member.nickname, member_path(r_script.member)
      \/
      %strong= link_to r_script.title, r_script_path(r_script)
    %ul.attributes
      %li Status: #{r_script.state_human}
      %li Survey posted: #{timeago r_script.created_at}
      - unless r_script.tags.empty?
        %li Tagged: #{tag_list_links(r_script)}
    %p #{truncate(r_script.description, :length => 200)}