= render :partial => '/r_scripts/common'

- content_for :body_content_left do  
  #cm-editor-inputs-code-editor.cm-editor.readonly
  = hidden_field_tag :cm_editor_inputs_code, @r_script.inputs_code
  :javascript
    var editor2 = CodeMirror(document.getElementById('cm-editor-inputs-code-editor'), {
      readOnly: true,
      mode: 'r',
      theme: 'night',
      lineNumbers: true
    });
    editor2.setValue($('#cm_editor_inputs_code').val());
    $('#cm-editor-inputs-code-editor').hide();
  %a{:href => '#', :id => 'show-inputs-code-a'} 
    View Inputs Code
  %a{:href => '#', :id => 'hide-inputs-code-a', :style => 'display:none'} 
    Hide Inputs Code
  #cm-editor
  
- content_for :body_content_right do 
  = simple_form_for @r_script, :url => save_and_run_r_script_path(@r_script), :html => {:id => 'r-script-save-and-run', :novalidate => true, :class => 'r_script'}, :remote => true do |f|
    = f.hidden_field :code
    %button{:class => 'button', :id => 'save-and-run', :icon => 'ui-icon-disk', :secondary_icon => 'ui-icon-play'} Save and Run
  = simple_form_for @r_script, :url => save_and_continue_r_script_path(@r_script), :html => {:id => 'r-script-save-and-continue', :novalidate => true, :class => 'r_script'}, :remote => true do |f|
    = f.hidden_field :code
    %button{:class => 'button', :id => 'save-and-continue', :icon => 'ui-icon-disk', :secondary_icon => 'ui-icon-document'} Save and Continue
  = simple_form_for @r_script, :url => save_and_exit_r_script_path(@r_script), :html => {:id => 'r-script-save-and-exit', :novalidate => true, :class => 'r_script'} do |f|
    = f.hidden_field :code
    %button{:class => 'button', :id => 'save-and-exit', :icon => 'ui-icon-disk', :secondary_icon => 'ui-icon-arrowreturnthick-1-e'} Save and Exit
  .divider
  #inputs-container
    %h3 Inputs
    #inputs
      %p#none-defined{:style => (@r_script.inputs.empty? ? '' : 'display:none')} None defined.
      %ul.reset
        - @r_script.inputs.each do |input|
          = render :partial => 'r_script_inputs/show', :locals => {:input => input, :r_script => @r_script}
    = link_to 'Add an Input', new_r_script_input_path(@r_script), :class => 'button', :remote => true, :icon => 'ui-icon-plus'
        
= render :partial => "/shared/content_page"


