= render :partial => '/r_scripts/common'

- content_for :body_content do  
  = simple_form_for @r_script, :html => {:id => 'r-script', :novalidate => true, :class => 'r_script'} do |f|
    = render :partial => 'form', :locals => {:f => f}
    .actions
      = f.submit 'Update', :class => 'button'
            
= render :partial => "/shared/content_page"


