= render :partial => 'common'
      
- content_for :body_content_left do
  #cm-editor.cm-editor.readonly
  = hidden_field_tag :cm_editor_code, @r_script.inputs_code + "\n" + @r_script.code
  :javascript
    var editor = CodeMirror(document.getElementById('cm-editor'), {
      readOnly: true,
      mode: 'r',
      theme: 'night',
      lineNumbers: true
    });
    editor.setValue($('#cm_editor_code').val().trim());
      
- content_for :body_content_right do
  %h3 Description
  .expandable
    = simple_format @r_script.description 
  #inputs-container
    %h3 Inputs
    #inputs
      %p#none-defined{:style => (@r_script.inputs.empty? ? '' : 'display:none')} None defined.
      %ul.reset
        - @r_script.inputs.each do |input|
          = render :partial => 'r_script_inputs/show', :locals => {:input => input, :r_script => @r_script, :editable => false}     
  
= render :partial => "/shared/content_page"