%ul#search-results.listing
  - @results.each_hit_with_result do |hit, result|
    %li
      - case result.class.to_s when 'Survey' then
        = render :partial => '/surveys/survey', :locals => {:survey => result}
      - when 'Report' then
        = render :partial => '/reports/report', :locals => {:report => result}     
      - when 'Member' then
        = render :partial => '/members/member', :locals => {:member => result} 
      - when 'Refinery::Page' then 
        = render :partial => '/refinery/pages/page', :locals => {:page => result} 
= will_paginate @results.results