- content_for :body_content_title do 
  - if @surveys
    Sign in to continue drafting the following surveys:
  - else
    Sign in

- content_for :body_content_left do
  - if @surveys
    %ol
      - @surveys.each do |survey|
        %li= survey.title 
        
  %h2 Sign in through:
  = render :partial => 'members/shared/auth_providers'

  %h2 Or, use your email and password:
  = simple_form_for(:member, :as => resource_name, :url => main_app.member_session_path, :html => {:class => 'sign_in_form'}) do |f|
    = f.input :email
    = f.input :password
    .actions
      = f.submit "Sign in", :class => 'button'
      %em
        Don't have an account?
        %strong= link_to 'Sign Up!', main_app.new_member_registration_path

- content_for :body_content_right do     
  = render :partial => "/members/shared/links"

= render :partial => "/shared/content_page"