%p #{@member.nickname},
%p You've received the following message from <strong>#{link_to @message.member.nickname, main_app.member_path(@message.member, :only_path => false)}</strong>:
= simple_format(auto_link @message.body).html_safe
%p= link_to image_tag(attachments['respond.gif'].url), main_app.message_path((@message.parent_message || @message), :only_path => false, :anchor => 'new')
%p
  Thanks,
  %br/
  #{link_to 'SoEpi.org', main_app.root_path, :only_path => false}
%p= Refinery::Setting.find_or_set :email_footer, %{<em><a href="http://soepi.org">SoEpi</a> is a 501(c)(3) nonprofit dedicated to improving health via online social epidemiology.</em>}.html_safe