- content_for :body_content_details do
  %ul.menu
    %li= link_to 'Search by Map', participants_path
    %li= link_to 'Search by City', by_city_participants_path
    %li= link_to 'Search by Categories', by_categories_participants_path
    %li= link_to 'Search by Anonymous Key', by_anonymous_key_participants_path

- content_for :body_content_right do
  %p
    Concerned About Privacy? We are... 
    %a{:href => '/privacy'} Read More
  #facets.block
    %h3 Search by Category
    .accordian
      - [:gender, :age_group, :races, :ethnicities, :education].each do |facet_name|
        - if facet = @facets.facet(facet_name)
          %h3
            %a{:href => '#' + facet_name.to_s}= facet_name.to_s.titleize
          %ul
            - facet.rows.each do |row|
              %li
                = link_to_unless_current(row.value, by_categories_participants_path(params.merge(facet_name => row.value).except(:controller, :action)))
                %span (#{row.count})