= render :partial => 'common'

- content_for :body_content_title do
  Participants by City

- content_for :body_content_left do
  = simple_form_for @participant, :url => by_city_participants_path do |f|
    = render :partial => '/addresses/country_select', :locals => {:field_prefix => 'participant', :field_prefix_name => 'participant', :object => @participant, :f => f}
    .actions
      = f.submit 'Search', :class => 'button'
  - if @participants  
    %h3.clear Showing #{@participants.length} of #{@participants.total_entries} Participants
    %ul.reset
      - @participants.each do |participant|
        %li
          = render :partial => 'participant', :locals => {:participant => participant}
    = will_paginate @participants
  
= render :partial => "/shared/content_page"