%div[status]
  .actions
    .restrict-to-members
      .owner-only{:'data-member-id' => status.member_id}
        = link_to 'Remove', member_status_path(status), :remote => true, :method => 'delete', :class => 'button', :icon => 'ui-icon-closethick', :confirm => 'Are you sure?'
      .not-owner{:'data-member-id' => status.member_id}
        = link_to 'Reply', new_member_status_path(:reply_to_members => status.reply_to_members), :remote => true, :class => 'button', :icon => 'ui-icon-arrowreturnthick-1-w'
  = avatar(status.member, 60)
  .inner
    %h3
      #{link_to status.member.nickname, status.member} wrote:
    .expandable
      = format_and_link_member_references(status.body).html_safe
    %ul.attributes
      %li Posted: #{timeago status.created_at}
      - unless status.tags.empty?
        %li Tagged: #{tag_list_links(status)}