= render :partial => '/shared/pages_common'

- content_for :body_content do
  #pages-submenu
    #toc{:style => 'display:none'}
      %h3 In This Doc
      %ul.inner
    - unless sub_menu_page_roots.empty? 
      %h3 See Also
      = render :partial => '/refinery/menu', :locals => {:roots => sub_menu_page_roots}
  %h1#page-title-actual= @page.title
  #page-content
    = @page.content_for(:body).to_s.html_safe   
= render :partial => '/shared/content_page'