%ul
  %li= link_to 'Privacy', '/docs/privacy'
  %li= link_to 'Terms', '/docs/terms'
  %li= link_to 'Donate', '/docs/donate'
  %li= link_to 'Volunteer', '/docs/volunteer'
  %li= link_to 'Subscribe', main_app.subscribe_path
  %li= link_to 'About', '/docs/about'
  %li= link_to 'Contact', '/contact'
.copyright
  Copyright &copy; #{Time.now.year} #{Refinery::Setting.find_or_set(:site_name, "SoEpi, Inc")} All Rights Reserved
  
