%head
  %meta{:charset => 'utf-8'}/
  %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
  %title= browser_title_2(yield(:title))
  %meta{:name => 'description', :content => meta_description_2(yield(:meta_description))} 
  %meta{:name => 'keywords', :content => meta_keywords_2(yield(:meta_keywords))}
  = esi_render :partial => '/members/accounts/csrf_meta_tags'
  - if @open_graph_meta    
    %meta{:property => "og:url", :content => @open_graph_meta[:url]}/
    %meta{:property => "og:title", :content => @open_graph_meta[:title]}/
    %meta{:name => 'description', :content => @open_graph_meta[:description]}
    %meta{:property => "og:image", :content => @open_graph_meta[:image_url]}/
    %meta{:property => "og:type", :content => @open_graph_meta[:type]}/
  = javascript_tag %{var controller_name = '#{controller_name}'; var action_name = '#{action_name}';}
  = javascript_tag %{var homepage = #{request.path == main_app.root_path};}
  %script{:src => 'https://maps.google.com/maps/api/js?sensor=false'}
  = javascript_include_tag 'application'
  = esi_render :partial => '/members/accounts/load_current_member.js'
  = javascript_tag yield(:javascript)
  %style{:type => 'text/css'} 
    = yield(:css)
  - cache 'header-static', :expires_in => 15.minutes do 
    %meta{:content => Refinery::Setting.find_or_set(:site_name, "SoEpi.org | Social Epidemiology. For Everyone."), :itemprop => "name"}
    %meta{:content => Refinery::Setting.find_or_set(:site_description, "SoEpi is a 501(c)(3) nonprofit dedicated to improving health via online social epidemiology. SoEpi’s goal is to empower the public in understanding public health issues and taking action to solve them. SoEpi does this by providing four free online services to the public, including: (1) anonymous surveys, (2) an open database of survey results, (3) R‐based analysis and reporting, and (4) communication and collaboration tools."), :itemprop => "description"}
    %meta{:content => "https://secure.soepi.org/assets/soepi-logo-light-bg.png", :itemprop => "image"}/
    = stylesheet_link_tag 'screen', :media => 'screen'
    = stylesheet_link_tag 'print', :media => 'print'
    /[if lt IE 9]
      %script{:src => 'https://html5shiv.googlecode.com/svn/trunk/html5.js'}
    %link{:rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}
    - unless (page_code = Refinery::Setting.find_or_set(:analytics_page_code, 'UA-xxxxxx-x').to_s.strip).blank?
      = render :template => '/shared/_analytics.js.erb', :locals => {:page_code => page_code}