#header-inner
  %h1#logo
    = link_to 'SoEpi', root_path, :title => 'SoEpi', :title => 'SoEpi is a 501(c)(3) non-profit organization committed to better health via online, social epidemiology.'
  #start
    #menu
      .primary
        %ul
          %li.visitors-only
            = link_to 'Sign Up', new_member_registration_path
          %li.visitors-only
            = link_to 'Sign In', new_member_session_path
          %li.members-only
            = link_to 'Sign out', destroy_member_session_path(:member_return_to => request.url), :method => 'delete'
          %li#account-quick-look.members-only.pop-nav
            = link_to 'Account', edit_member_registration_path, :class => 'pop-nav-link'
            .pop-nav-inner 
              %ul           
                %li
                  = link_to 'Settings', edit_member_registration_path
                %li
                  = link_to 'Change Password', member_change_password_path
                %li
                  = link_to 'Your PIN', member_your_pin_path
                %li
                  = link_to 'Subscriptions', member_subscriptions_path
                %li
                  = link_to 'Privacy', member_privacy_path
                %li
                  = link_to 'Sign In Tokens', member_tokens_path
                %li
                  = link_to 'Cancel Account', member_cancel_account_path
          %li.members-only
            = link_to "Messages (<span class='current-member-unseen-messages-count'>...</span>)".html_safe, unread_messages_path
          %li.members-only
            = link_to 'Dashboard', root_path
          %li.welcome    
            %span.current-member-pic
            %span.current-member-nickname-linked
      .secondary
        #search
          = form_tag url_for(:controller => '/search', :action => 'index', :page => 1), :method => 'get', :id => 'quicksearch' do 
            = text_field_tag :q, @q, :placeholder => 'Search...'
            = submit_tag 'Search', :name => nil
        %ul
          %li= link_to 'Surveys', surveys_path
          %li= link_to 'Charts', charts_path
          %li= link_to 'Petitions', petitions_path
          %li= link_to 'Members', members_path