- content_for :body_content do 
  - cache 'home-visitor', :expires_in => 1.hour do 
    #welcome
      #steps
        #step-1.step
          %h1= Refinery::Setting.find_or_set(:home_step_1_title, %{Create a <strong>Survey</strong>.}).html_safe
          .inner-container
            .inner= Refinery::Setting.find_or_set(:home_step_1_description, %{Change begins with you. We’re here to help.}).html_safe
        #step-2.step
          %h1= Refinery::Setting.find_or_set(:home_step_2_title, %{Get <strong>Support</strong>.}).html_safe
          .inner-container
            .inner= Refinery::Setting.find_or_set(:home_step_2_description, %{Charts inspire your community to change.}).html_safe
        #step-3.step
          %h1= Refinery::Setting.find_or_set(:home_step_3_title, %{Improve <strong>Health</strong>.}).html_safe
          .inner-container
            .inner= Refinery::Setting.find_or_set(:home_step_3_description, %{Healthy communities, healthy individuals.}).html_safe
      #take-action
        = link_to 'Create a Survey', new_survey_path, :class => 'button', :id => 'create-a-survey-button'
      #extra
        #about
          %h4= Refinery::Setting.find_or_set(:home_about, %{Connecting Communities and Health Researchers, SoEpi is a 501(c)(3) non-profit organization committed to better health via online social epidemiology. <a href="/about">Learn More &raquo;</a>}).html_safe
        #extra-bottom
          #browse-surveys
            %h2 Browse Surveys
            %ul.listing.reset
              - Survey.live.limit(3).each do |survey|
                %li
                  = render :partial => '/surveys/survey', :locals => {:survey => survey}
            %small= link_to 'View All Surveys &raquo;'.html_safe, surveys_path if Survey.live.count > 3
            #drafting 
              %strong #{Survey.drafting.count} 
              surveys are currently being drafted. 
              %br Come back soon to participate.
          #like-buttons
            .inner
              #fb-root
              .fb-like{"data-href" => "https://www.facebook.com/pages/SoEpi/203689719658843", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "100"}
              .g-plusone{"data-href" => "https://secure.soepi.org"}
              &nbsp;
    
= render :partial => '/shared/content_page'