= render :partial => '/shared/pages_common'

- content_for :body_content do
  - if @page
    %h1#page-title-actual= @page.title
    = @page.content_for(:body).html_safe 
  = simple_form_for :subscriber, :action => new_subscriber_path, :method => 'post' do |f|
    = f.input :email
    = f.input :first_name, :required => false
    = f.input :last_name, :required => false
    = f.input :unsubscribe, :as => :boolean
    .actions
      = f.submit 'Submit', :class => 'button'
    
= render :partial => "/shared/content_page"
