- content_for :body_content_title do 
  Resend unlock instructions

- content_for :body_content_left do 

  = simple_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f|
    = f.input :email
    .actions
      = f.submit "Resend unlock instructions", :class => 'button'

- content_for :body_content_right do     
  = render :partial => "/members/shared/links"
    
= render :partial => "/shared/content_page"
