= f.input :name, :hint => 'Use this name as an R variable in your script. It must begin with a letter and contain no punctuation or spaces. '
= f.input :description, :hint => 'Describe the variable, so that others using your script know how to use it.'
= f.input :itype, :label => 'Type', :as => :select, :collection => %w{Survey\ results Character Numeric}
#default-survey{:style => 'display:none'}
  = f.input :survey_id, :as => :hidden
  = f.input :survey_label, :as => :string, :label => 'Default survey', :hint => 'Specify a default value. Others can specify their own values when they run this script.'
#default-character{:style => 'display:none'}
  = f.input :default_character, :label => 'Default character value', :hint => 'Specify a default value. Others can specify their own values when they run this script.'
#default-numeric{:style => 'display:none'}
  = f.input :default_numeric, :label => 'Default numeric value', :hint => 'Specify a default value. Others can specify their own values when they run this script.'
