%li[input]
  %h4= input.name
  .description.expandable
    %p
      %em 
        - case input.itype when 'Survey results' then
          Default survey:
          = link_to input.survey.title, survey_path(input.survey) if input.survey
        - when 'Character' then
          Default character value:
          = input.default_character
        - when 'Numeric' then
          Default numeric value:
          = input.default_numeric
    = simple_format input.description
  - if not defined?(editable) or editable
    .actions
      = link_to 'Edit', edit_r_script_input_path(input, :r_script_id => r_script.id), :class => 'button', :remote => true
      = link_to 'Remove', r_script_input_path(input, :r_script_id => r_script.id), :class => 'button', :remote => true, :method => 'delete', :confirm => 'Are you sure?'