- content_for :body_content_right do
  - if Part.set?(:home_member_top_right)
    .highlight
      = Part.find_or_set(:home_member_top_right, ''.html_safe, 'ckeditor')
  .block
    = link_to 'Create a Survey', new_survey_path, :class => 'restrict-to-members button', :icon => 'ui-icon-document'    
    = link_to 'Create an R Script', new_r_script_path, :class => 'restrict-to-members button', :icon => 'ui-icon-document'    
    = link_to 'Create a Report', new_report_path, :class => 'restrict-to-members button', :icon => 'ui-icon-document' 

- if member_signed_in?    
  - content_for :body_content_left do    
    %h1#page-title
      = avatar(current_member, 20)
      Your Notifications
    %ul#notifications.listing
      = render :partial => 'notifications', :locals => {:notifications => @notifications}
  
  - content_for :body_content_right do
    .block
      .accordian
        %h3
          %a{:href => '#your-surveys'} Your Surveys (#{@surveys.length})
        #your-surveys
          %ol
            - @surveys.each do |survey|
              %li= link_to survey.title, survey
        %h3
          %a{:href => '#your-follows'} You're Following (#{@follows.length})
        #your-follows
          %ol
            - @follows.each do |follow|
              %li= link_to follow.followable.human, follow.followable
        %h3
          %a{:href => '#your-followers'} Your Followers (#{@followers.length})
        #your-followers
          %ol
            - @followers.each do |follower|
              %li= link_to follower.nickname, follower          
    
  = render :partial => '/shared/content_page', :locals => {:with_inner_content_div => false}
  
- else
  - cache('home', :expires_in => cache_expirary) do
    - content_for :body_content_left do 
      #slider
        - @slides.each do |slide|
          %a{:href => '#'}
            = image_tag slide.img.thumb('570x350#').url
            %span= slide.description
      = Part.find_or_set :home_bottom_left, '<p>SoEpi is more than a free survey service. It is a platform that can empower you to genernate leads, awareness and support that ultimately improve public health. Through surveys, charts, petitions, and private groups and messaging, SoEpi connects concerend individuals with one another and researchers with participants.</p>', 'ckeditor'
          
      
      
    = render :partial => "/shared/content_page", :locals => {:with_inner_content_div => false}
