- content_for :body_content_left do
  %section[@page]
    %h1= @page.body_title
    - if @page.raw?
      = link_member_references(@page.body).html_safe
    - else
      = link_member_references(RDiscount.new(@page.body).to_html).html_safe
    %p 
      %small Page last updated #{timeago @page.updated_at}

- content_for :body_content_right do 
  - if Part.set?(:home_member_top_right)
    .highlight
      = link_member_references(RDiscount.new(Part.find_or_set(:home_member_top_right)).to_html).html_safe
  #toc{:style => 'display:none'}
    %h3 Table of Contents
    %ul.inner
  
- content_for :javascript do 
  = raw @page.javascript

- content_for :css do 
  = raw @page.css

    
= render :partial => "/shared/content_page"
