= f.input :body, :label => 'Question', :input_html => {:class => 'survey_question_body'}
= f.input :required
= f.input :qtype, :label => 'Type' do 
  = f.select :qtype, grouped_options_for_select(SurveyQuestion.qtype_options, question.qtype), {:include_blank => true}, {:class => 'question-type'}
.choice_labels
  = f.input :choices do  
    %ol.choices
      = f.association :choices do |c|
        %li
          = c.input :id, :as => :hidden
          = c.input :_destroy, :input_html => {:class => '_destroy'}, :as => :hidden
          = c.input :position, :as => :hidden, :input_html => {:class => 'position'}
          = c.input :label, :label => false
          %span.ui-icon.ui-icon-arrowthick-2-n-s Move 
          %span.ui-icon.ui-icon-close Remove
      %li.new-choice-container
        = text_field_tag :new_choice, 'Add a choice...', :class => 'new-choice'
        %span.ui-icon.ui-icon-plus Plus