%li[question]{:'data-question-id' => question.id, :'data-question-required' => question.required.to_s, :'data-question-qtype' => question.qtype}
  .handle
    - if @survey.editable? and @survey.member == current_member
      .top-actions
        = link_to 'Edit', edit_survey_question_path(:survey_id => question.survey, :id => question.id), :class => 'button edit', :remote => true
        = link_to 'Delete', survey_question_path(:survey_id => question.survey, :id => question.id), :class => 'button destroy'
    .expandable
      = simple_format question.body
  - unless question.choices.empty? 
    %ol.choices
      - question.choices.each do |choice|
        %li[choice]{:'data-choice-id' => choice.id}          
          %div
            %strong.c-tag CHOICE
            = choice.label
          - unless choice.child_questions.empty?
            %ol.nested-questions{:id => "nested-questions-#{choice.id}"}
              - choice.child_questions.each do |question2|
                = render :partial => 'question', :locals => {:question => question2}