- if totals.empty?
  %p
    %strong No responses yet.
- else
  = will_paginate totals, :remote => true
  #text-responses
    %ul.reset
      - totals.each do |response|
        %li
          %h4
            - if response.participant.listable?
              = link_to "Participant #{response.participant.anonymous_key}", participant_path(response.participant)
            - else 
              Participant #{response.participant.anonymous_key}
            wrote:
          = simple_format response.text_response
  = will_paginate totals, :remote => true