%table.stats
  %tr
    %th Statistic
    %th Value
  %tr
    %td Responses
    %td.numeric= number_with_delimiter totals[:count]
  - if totals[:count] > 0
    %tr
      %td Minimum
      %td.numeric= totals[:min].strftime('%A, %B %d, %Y')
    %tr
      %td 1st Quartile
      %td.numeric= totals[:low].strftime('%A, %B %d, %Y')
    %tr
      %td Median
      %td.numeric= totals[:median].strftime('%A, %B %d, %Y')
    %tr
      %td 3rd Quartile
      %td.numeric= totals[:high].strftime('%A, %B %d, %Y')
    %tr
      %td Maximum
      %td.numeric= totals[:max].strftime('%A, %B %d, %Y')
    %tr
      %td Mode
      %td.numeric= totals[:mode].strftime('%A, %B %d, %Y')
    %tr
      %td Average
      %td.numeric= totals[:avg].strftime('%A, %B %d, %Y')
  
