- if totals.empty?
  %p
    %strong No responses yet.
- else
  = will_paginate totals, :remote => true
  #text-responses
    %ul.reset
      - totals.each do |response|
        %li
          %h4
            = link_to "Participant #{response.participant.anonymous_key}", participant_path(response.participant)
            wrote:
          = simple_format response.text_response
  = will_paginate totals, :remote => true