%div[question]
  %a{:name => 'responses'}
  .nav
    - if question.next_question
      %button{:onclick => "$.history.load('#{@question.next_question.id}');", :class => 'button next', :secondary_icon => 'ui-icon-triangle-1-e'} Next Question
    - if question.previous_question
      %button{:onclick => "$.history.load('#{@question.previous_question.id}');", :class => 'button previous', :icon => 'ui-icon-triangle-1-w'} Previous Question
  %h2 Question #{question.path}
  = simple_format question.body
  %p
    %small #{question.qtype} | #{question.required? ? 'Required' : 'Optional'}
  - case question.qtype when 'Select One', 'Select Multiple', 'Yes/No', 'True/False' then
    %div{:id => "question-#{question.id}-chart"}
    %script{:type => "text/javascript", :charset => "utf-8"}
      = render :template => 'survey_questions/_results_choices.js.erb', :locals => {:question => question, :totals => question.response_totals}
  - when 'Numeric' then
    = render :template => 'survey_questions/_results_numeric_stats.html.haml', :locals => {:question => question, :totals => question.response_totals}        
  - when 'Date' then
    = render :template => 'survey_questions/_results_date_stats.html.haml', :locals => {:question => question, :totals => question.response_totals}        
  - when 'Date/Time' then
    = render :template => 'survey_questions/_results_datetime_stats.html.haml', :locals => {:question => question, :totals => question.response_totals}        
  - when 'Time' then
    = render :template => 'survey_questions/_results_time_stats.html.haml', :locals => {:question => question, :totals => question.response_totals}        
  - when 'Text' then
    = render :template => 'survey_questions/_results_list.html.haml', :locals => {:question => question, :totals => question.response_totals(params[:page])}        

    