= render :partial => '/surveys/steps'

- content_for :body_content_title do
  = render :partial => '/surveys/title', :locals => {:survey => @survey}
        
= render :partial => '/surveys/toolbar'
= render :partial => '/surveys/details'

- content_for :body_content_left do
  %p#no-questions.text-align-center{:style => 'display:none'} You have not added any questions yet. Click "Add a Question" to the right to begin.
  #results{:style => 'display:none'}
  #root-questions-container.not-ordering{:class => (@survey.may_edit?(current_member) ? 'editable' : 'not-editable') + ' ' + ((@survey.published? or @survey.closed? or @survey.launched?) ? 'results-available' : 'results-not-available')}
    %ol#root-questions
      - @questions.each do |question|
        = render :partial => 'question', :locals => {:question => question}
        
- content_for :body_content_right do 
  %input{:type => 'text', :placeholder => 'Find a question', :id => 'question-search'} 
  %a{:icon => 'ui-icon-arrowthick-1-w', :class => 'button', :id => 'all-questions', :style => 'display:none', :href => '#all'} All Questions
  - unless @survey.drafting? or @survey.review_requested?
    #key-mappings
      %h5 Shortcuts
      %p
        %small
          Left Arrow = Previous Question
          Right Arrow = Next Question
  - if @survey.may_edit?(current_member)
    %button{:id => 'add-question', :class => 'button', :icon => 'ui-icon-plus'} Add a Question
  %button{:id => 'close-questions', :class => 'button', :icon => 'ui-icon-folder-collapsed'} Close All Questions
  %button{:id => 'open-questions', :class => 'button', :icon => 'ui-icon-folder-open', :style => 'display:none'} Open All Questions
    
= render :partial => "/shared/content_page"