- content_for :body_content_title do
  = render :partial => '/surveys/title', :locals => {:survey => @survey}
        
= render :partial => '/surveys/toolbar'
= render :partial => '/surveys/details'

- content_for :body_content_left do
  %p#no-questions.text-align-center{:style => 'display:none'} You have not added any questions yet. Click "Add a Question" to the right to begin.
  #results{:style => 'display:none'}
  #root-questions-container.not-ordering
    %ol#root-questions
      - @questions.each do |question|
        = render :partial => 'question', :locals => {:question => question}
        
- content_for :body_content_right do 
  %input{:type => 'text', :placeholder => 'Find a question', :id => 'question-search'} 
  %button{:icon => 'ui-icon-circle-arrow-w', :class => 'button', :id => 'all-questions', :style => 'display:none'} All Questions
  - if @survey.editable?
    .owner-only-not-admins{:'data-member-id' => @survey.member_id}
      %button{:id => 'order-questions', :class => 'button', :icon => 'ui-icon-arrow-4'} Order Questions
      %button{:id => 'done-ordering-questions', :class => 'button', :icon => 'ui-icon-check', :style => 'display:none'} Done Ordering
      %button{:id => 'cancel-ordering-questions', :class => 'button', :icon => 'ui-icon-close', :style => 'display:none'} Cancel Ordering
      #done-ordering-questions-alert{:style => 'display:none; margin-top:10px'}
        %p 
          Drag and drop questions to: (1) sort them, and (2) to make them dependent on other 
          questions' choices (i.e. skip patterns).
        %p
          Click 
          %strong Done Ordering
          to save your changes or 
          %strong Cancel Ordering
          to cancel your changes.
      %button{:id => 'add-question', :class => 'button', :icon => 'ui-icon-plus'} Add a Question
    
= render :partial => "/shared/content_page"