- content_for :body_content_details do
  %ul.menu
    %li{:'data-member-id' => @survey.member_id}
      = link_to 'Summary', survey_path(@survey)
    %li.owner-only{:'data-member-id' => @survey.member_id}
      = link_to 'Settings', edit_survey_path(@survey)
    - if @survey.published?
      %li
        = link_to "Questions (<span class='questions-count'>#{@survey.questions.count}</span>)".html_safe, survey_questions_path(:survey_id => @survey)
    - else
      %li.owner-only{:'data-member-id' => @survey.member_id}
        = link_to "Questions (<span class='questions-count'>#{@survey.questions.count}</span>)".html_safe, survey_questions_path(:survey_id => @survey)
    - if @survey.published? or ((@survey.launched? or @survey.closed?) and (member_signed_in? and (@survey.member_id == current_member.id or current_member.admin?)))
      %li
        = link_to "Completes (<span class='participants-count'>#{number_with_delimiter @survey.completes}</span>)".html_safe, completes_survey_path(@survey)
      %li
        = link_to "Downloads (<span class='participants-count'>#{number_with_delimiter @survey.downloads.count}</span>)".html_safe, downloads_survey_path(@survey)
    %li
      = link_to "Forks (#{@survey.forks.live_or_drafting.count})", forks_survey_path(@survey)
    %li
      = link_to "Followed By (#{@survey.followings.count})", followed_by_survey_path(@survey)
- if action_name == 'show'
  - content_for :body_content_more_details do 
    .not-owner{:'data-member-id' => @survey.member_id}
      %h4.status Status: #{@survey.state_human}
      - if @survey.review_requested?
        .not-admin
          %p This survey hasn't launched. Please come back later to participate.
      - elsif @survey.closed?
        %p 
          This survey has closed. In order to protect the privacy of the participants, 
          the results will be published only after a full review by SoEpi.
      - elsif @survey.published?
        %p This survey has closed and the results were published.
      - elsif @survey.rejected?
        %p This survey was rejected during review.
      - elsif @survey.drafting?
        %p This survey hasn't launched. Please come back later to participate.
      - else
        %p 
          To participate in this survey, click the "Participate in this Survey" button at the 
          bottom or the "Partipate" button to the top right. 
    .owner-only-not-admins{:'data-member-id' => @survey.member_id}
      - unless @survey.new_record?
        %h4.status Status: #{@survey.state_human}
        - case @survey.state when 'review_requested' then
          .owner-only{:'data-member-id' => @survey.member_id}
            %p This survey will launch as soon as it passes a full review by SoEpi. 
            %p You may not edit this survey during the review.
            %p Please #{link_to 'contact us', member_contact_us_path} if you have any questions or comments.
        - when 'rejected' then
          %p You can no longer edit or resubmit this survey.
          %p Please #{link_to 'contact us', member_contact_us_path} if you have any questions or comments.
        - when 'launched' then
          %p You can no longer edit this survey. 
          %p 
            Please #{link_to 'contact us', member_contact_us_path} if you any questions, comments or requests.
        - when 'closed' then
          %p 
            This survey has closed. Members are no longer able to participate. 
          %p 
            In order to protect the privacy of the participants, 
            the results will be published only after a full review by SoEpi.
          %p 
            Please #{link_to 'contact us', member_contact_us_path} 
            if you have any questions or comments.
        - when 'published' then
          %p
            This survey has closed and the results published. Members are no longer able to participate.
  
      