var ss_region;
var ss_age_group;
var ss_gender;
var ss_ethnicity;
var ss_race;
var ss_education;

$(document).ready(function() {
  $('#charts').append('<div id="ss-region" class="chart"></div>');
  ss_region = new Highcharts.Chart({
     chart: {
        renderTo: 'ss-region',
        type: 'column'
     },
     title: {
        text: 'Completes by Region'
     },
     xAxis: {
        categories: ['<%= @survey.completes_by_region.collect {|r| r[:label]}.join("', '") %>']
     },
     yAxis: {
        min: 0,
        title: {
           text: 'Participants'
        }
     },
     series: [{
        name: 'Completes',
        data: [<%= @survey.completes_by_region.collect {|r| r[:total]}.join(", ") %>] 
     },{
        name: 'Incompletes',
        data: [<%= @survey.incompletes_by_region.collect {|r| r[:total]}.join(", ") %>] 
     }]
  });
  
  $('#charts').append('<div id="ss-age-group" class="chart"></div>');
  ss_age_group = new Highcharts.Chart({
     chart: {
        renderTo: 'ss-age-group',
        type: 'column'
     },
     title: {
        text: 'Completes by Age Group'
     },
     xAxis: {
        categories: ['<%= @survey.completes_by_age_group.collect {|a| a[:label].gsub('years', '').strip}.join("', '") %>'],
        labels: {
            rotation: -45,
            align: 'right'
         }
     },
     yAxis: {
        min: 0,
        title: {
           text: 'Participants'
        }
     },
     series: [{
        name: 'Completes',
        data: [<%= @survey.completes_by_age_group.collect {|a| a[:total]}.join(", ") %>]
     },{
        name: 'Inompletes',
        data: [<%= @survey.incompletes_by_age_group.collect {|a| a[:total]}.join(", ") %>]
     }]
  });
  
  $('#charts').append('<div id="ss-gender" class="chart"></div>');
  ss_gender = new Highcharts.Chart({
     chart: {
        renderTo: 'ss-gender',
        type: 'column'
     },
     title: {
        text: 'Completes by Gender'
     },
     xAxis: {
        categories: ['<%= @survey.completes_by_gender.collect {|g| g[:label]}.join("', '") %>']
     },
     yAxis: {
        min: 0,
        title: {
           text: 'Participants'
        }
     },
     series: [{
        name: 'Completes',
        data: [<%= @survey.completes_by_gender.collect {|g| g[:total]}.join(", ") %>]
     },{
        name: 'Incompletes',
        data: [<%= @survey.incompletes_by_gender.collect {|g| g[:total]}.join(", ") %>]
     }]
  });
  
  $('#charts').append('<div id="ss-ethnicity" class="chart"></div>');
  ss_ethnicity = new Highcharts.Chart({
     chart: {
        renderTo: 'ss-ethnicity',
        type: 'column'
     },
     title: {
        text: 'Completes by Ethnicity'
     },
     xAxis: {
        categories: ['<%= @survey.completes_by_ethnicity.collect {|e| e[:label]}.join("', '") %>']
     },
     yAxis: {
        min: 0,
        title: {
           text: 'Participants'
        }
     },
     series: [{
        name: 'Completes',
        data: [<%= @survey.completes_by_ethnicity.collect {|e| e[:total]}.join(", ") %>]
     },{
        name: 'Incompletes',
        data: [<%= @survey.incompletes_by_ethnicity.collect {|e| e[:total]}.join(", ") %>]
     }]
  });
  
  $('#charts').append('<div id="ss-race" class="chart"></div>');
  ss_race = new Highcharts.Chart({
     chart: {
        renderTo: 'ss-race',
        type: 'column'
     },
     title: {
        text: 'Completes by Race'
     },
     xAxis: {
        categories: ['<%= @survey.completes_by_race.collect {|r| r[:label]}.join("', '") %>']
     },
     yAxis: {
        min: 0,
        title: {
           text: 'Participants'
        }
     },
     series: [{
        name: 'Completes',
        data: [<%= @survey.completes_by_race.collect {|r| r[:total]}.join(", ") %>]
     },{
        name: 'Incompletes',
        data: [<%= @survey.incompletes_by_race.collect {|r| r[:total]}.join(", ") %>]
     }]
  });
  
  $('#charts').append('<div id="ss-education" class="chart"></div>');
  ss_education = new Highcharts.Chart({
     chart: {
        renderTo: 'ss-education',
        type: 'column'
     },
     title: {
        text: 'Completes by Education'
     },
     xAxis: {
        categories: ['<%= @survey.completes_by_education.collect {|e| escape_javascript(e[:label])}.join("', '") %>']
     },
     yAxis: {
        min: 0,
        title: {
           text: 'Participants'
        }
     },
     series: [{
        name: 'Completes',
        data: [<%= @survey.completes_by_education.collect {|e| e[:total]}.join(", ") %>]
     },{
        name: 'Incompletes',
        data: [<%= @survey.incompletes_by_education.collect {|e| e[:total]}.join(", ") %>]
     }]
  });
});