- content_for :title do 
  = @survey.title
  
- content_for :body_content_title do
  = avatar(@survey.member, 20)
  = link_to @survey.member.nickname, member_path(@survey.member)
  \/
  %strong= link_to @survey.title, survey_path(@survey)
  %ul.attributes
    %li Status: #{@survey.state_human}
    - unless @survey.launched? or @survey.drafting? or @survey.piloting?
      - if @survey.forked_from
        %li 
          Forked from: #{link_to @survey.forked_from.member.nickname, member_path(@survey.forked_from.member)} 
          \/ 
          #{link_to @survey.forked_from.title, survey_path(@survey.forked_from)}
      - unless @survey.tags.empty?
        %li Tagged: #{tag_list_links(@survey)}
    - if @survey.versions.current
      %li.owner-only{:'data-member-id' => @survey.member_id} Current version: #{@survey.versions.current.position}
    %li 
      Posted: #{timeago @survey.created_at}