= render :partial => '/surveys/title'
= render :partial => '/surveys/toolbar'
= render :partial => '/surveys/details'
  
- content_for :body_content do
  #charts
  %script{:type => "text/javascript", :charset => "utf-8"}
    = render :partial => 'surveys/summary_statistics.js.erb', :locals => {:survey => @survey}
    
= render :partial => "/shared/content_page"