= render :partial => '/surveys/steps'

- content_for :body_content_title do
  = render :partial => '/surveys/title', :locals => {:survey => @survey}
        
= render :partial => '/surveys/toolbar'
= render :partial => '/surveys/details'

- content_for :body_content do  
  = simple_form_for @survey, :html => {:novalidate => true, :class => 'survey ' + (@survey.editable?(current_member) ? 'editable' : 'uneditable')} do |f|
    = render :partial => '/surveys/form', :locals => {:f => f}
    .actions
      = f.submit 'Update', :class => 'button'
      
= render :partial => "/shared/content_page"
