= render :partial => '/surveys/steps'
= render :partial => '/surveys/title'        
= render :partial => '/surveys/toolbar'
= render :partial => '/surveys/details'
  
- content_for :body_content_left do
  - if @forks.empty?
    %p No forks found.
  - else
    %ul#surveys.listing.reset
      - @forks.each do |survey|
        %li
          = render :partial => 'survey', :locals => {:survey => survey}
    = will_paginate @forks
    
- content_for :body_content_right do
  %h3 Unbiased Results: 
  %p
    For the sake of not revealing the questions and purposes of surveys not yet published,
    only <strong>published</strong> forks appear in this list.
    
= render :partial => "/shared/content_page"