= render :partial => '/surveys/steps' 
= render :partial => '/surveys/title'  
= render :partial => '/surveys/toolbar'
= render :partial => '/surveys/details'
  
- content_for :body_content do
  - if @survey.launched?
    #survey-sidebar
      #survey-participation.highlight
        %h2 Participate in this Survey
        %p#survey-participation-agreement-container
          %input{:type => 'checkbox', :id => 'survey-participation-agreement'} 
          %label{:for => 'survey-participation-agreement'}= Refinery::Setting.find_or_set(:survey_participation_agreement, 'I agree to participate in this survey and I acknowledge that I have been informed of the risks and benefits of doing so.')
        %p= link_to 'Participate in this Survey', new_participant_response_path(:survey_id => @survey.id), :icon => 'ui-icon-play', :class => 'button restrict-to-members', :id => 'participate', :remote => true
      #survey-share
        %h4 Please share this survey!
        = render :partial => '/shared/sharing_large'
    %h1#page-title-actual= @survey.title
    = simple_format @survey.description
    - cache 'survey-informed-consent' do 
      %h1#page-title-actual= Refinery::Page.find('informed-consent').title
      #page-content= Refinery::Page.find('informed-consent').content_for(:body).html_safe
  - else
    %p 
      This survey has not yet opened. Please come back later to partcipate in it.    
      For your convenience, if you choose to follow this survey, we'll notify you when it opens for participation.
      Click the "Follow" button at the top right. 
= render :partial => "/shared/content_page"
