= render :partial => 'common'
      
- content_for :body_content do
  = 'Not following anything.' if @follows.empty?
  %ul#follows.listing
    - @follows.each do |follow|
      %li
        - case follow.followable_type when 'Survey' then
          = render :partial => '/surveys/survey', :locals => {:survey => follow.followable}        
        - when 'Member' then
          = render :partial => '/members/member', :locals => {:member => follow.followable} 
  = paginate @follows
  
= render :partial => "/shared/content_page"