.question{:style => 'display:none;'}
  = simple_form_for @participant_response, :remote => true do |f|
    = hidden_field_tag :survey_id, @survey.id
    = f.hidden_field :question_id
    = field_set_tag "Question #{@question.path} - #{@question.qtype} - #{@question.required? ? 'Required' : 'Optional'}".html_safe do
      .question-body
        = simple_format @question.body
      %h5 Your Response
      - case @question.qtype
      - when 'Select One', 'Yes/No', 'True/False' then 
        %ul.choices.reset
          - @question.choices.each do |choice|
            %li
              = content_tag :button, :name => "participant_response[single_choice_id]", :value => choice.id, :class => 'button full', :type => 'submit' do
                #{choice.label}
      - when 'Select Multiple' then
        = f.association :multiple_choices, :as => :check_boxes, :collection => @question.choices.collect{|c| [c.label, c.id]}, :label => false
      - when 'Text' then
        = f.input :text_response, :as => :text, :label => false
      - when 'Date' then
        = f.input :datetime_response, :as => :date_picker, :label => false
      - when 'Date/Time' then
        = f.input :datetime_response, :as => :datetime_picker, :label => false
      - when 'Time' then
        = f.input :datetime_response, :as => :time_picker, :label => false
      - when 'Numeric' then 
        = f.input :numeric_response, :label => false, :hint => 'Must be a number. Periods and commas are not allowed.'
      = f.submit 'Submit', :class => 'button' unless ['Select One', 'True/False', 'Yes/No'].include?(@question.qtype)
  .actions
    - if @participant_response.previous_response
      = link_to '&laquo; Previous Question'.html_safe, edit_participant_response_path(@participant_response.previous_response, :survey_id => @survey.id), :remote => true
    - if @participant.responses.where('question_id in (?)', @survey.question_ids).count > 0
      | 
      = link_to 'Remove my responses for this survey and get me out of here.'.html_safe, destroy_all_participant_responses_path(:survey_id => @survey.id), :method => 'delete', :remote => true, :confirm => 'Are you sure?'