- content_for :body_content_left do
  .inquiries
    = raw @page[Page.default_parts.first.to_sym]
    = simple_form_for @inquiry do |f|
      = f.input :name
      = f.input :email
      = f.input :phone, :as => :string
      = f.input :message
      .actions
        = f.button :submit, 'Send Message'

= render :partial => '/shared/content_page'