#compare-versions{:title => "Version #{@version_a.position} by #{@version_a.member.nickname} created at #{@version_a.updated_at}"}
  = simple_form_for :version_b, :url => compare_versions_report_path(@report, :version_a_id => @version_a.id), :method => 'get', :remote => true do |f|
    = f.input :id, :label => "Compare version #{@version_a.position} to", :collection => @versions, :value => @version_b, :as => :select
  - if @version_b
    #diff.clear
      %h2 Comparison between version #{@version_a.position} and version #{@version_b.position}:
      %pre.clear= @version_a.compare(@version_b)
  