- content_for :body_content_details do
  %ul.menu
    %li
      = link_to 'Summary', report_path(@report)
    %li.owner-only{:'data-member-id' => @report.member_id}
      = link_to 'Settings', edit_report_path(@report)
    %li.owner-only{:'data-member-id' => @report.member_id}
      = link_to 'Code', code_report_path(@report)
    %li.not-owner.not-admins{:'data-member-id' => @report.member_id}
      = link_to 'Code', view_code_report_path(@report)
    %li
      = link_to 'Output', output_report_path(@report)
    %li
      = link_to "Surveys (#{@report.surveys.count})", surveys_report_path(@report)
    %li
      = link_to "Forks (#{@report.forks.count})", forks_report_path(@report)
    %li.owner-only{:'data-member-id' => @report.member_id}
      = link_to "Versions (#{@report.versions.count})", versions_report_path(@report)