- content_for :title do 
  = @report.title
  
- content_for :body_content_title do
  = avatar(@report.member, 20)
  = link_to @report.member.nickname, member_path(@report.member)
  \/
  %strong= link_to @report.title, report_path(@report)
  %ul.attributes
    %li 
      Status: 
      %span.report-state= @report.state_human
    - if @report.forked_from
      %li 
        Forked from: #{link_to @report.forked_from.member.nickname, member_path(@report.forked_from.member)} 
        \/ 
        #{link_to @report.forked_from.title, report_path(@report.forked_from)}
    %li Posted: #{timeago @report.created_at}
    - unless @report.tags.empty?
      %li Tagged: #{tag_list_links(@report)}