= render :partial => '/reports/common'

- content_for :body_content do  
  = simple_form_for @report, :html => {:id => 'r-script', :novalidate => true, :class => 'report'} do |f|
    = render :partial => 'form', :locals => {:f => f}
    .actions
      - if @report.passing?
        = f.submit 'Publish', :class => 'button'
      - else 
        = f.submit 'Update', :class => 'button'
            
= render :partial => "/shared/content_page"


