!!!
= render :partial => "/shared/html_tag"
= render :partial => "/shared/head"
%body.bp.one-column{:class => (home? ? 'home' : '')}
  #root
    %header#header
      = render :partial => "/shared/header"
    #container
      = yield
  %footer#footer
    = render :partial => "/shared/footer"